.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 200px;
    background-image: linear-gradient(to top, hsl(165, 100%, 99%), hsl(237, 63%, 64%));

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .number {
                color: white;
                font-size: 35px;
                padding-left: 85px;
            
            }
        .title {
            font-weight: bolder;
            font-size: 15px;
            color: rgb(34, 33, 33);
            padding: 5px 10px;
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        // .number{
        //     color: white;
        //     font-size: 30px;
        //     padding-left: 80px;         
        // }
        .link {
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid rgb(186, 180, 180);
            color: black;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}